/* Anything smaller than first breakpoint 600px */
@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        /* grid-auto-rows: minmax(100px, auto); */
        grid-template-areas:
            "hd"
            "nv"
            "sc"
            "ft";
        /* border: 2px solid orange; */
        font-size: 2rem;
        height: 100vh;
    }

    /* GRID ENDS HERE */

    header {
        grid-area: hd;
    }


    /* These grid-items control our grid layout */
    nav {
        grid-area: nv;
        /* border: 2px solid purple; */
    }


    section {
        grid-area: sc;
        /* border: 2px solid red; */
    }


    footer {
        grid-area: ft;
        /* border: 2px solid black; */
    }
}