body {
    background-color: bisque;
    font-size: 28px;
    color: chartreuse;
}

.container {
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: 45vh 45vh;
    grid-gap: 25px;
    grid-template-areas:
        "top top"
        "mid mid"
        "bottom bottom";
    border: 2px solid orange;
}

/* Finish grid setup */