body {
    background-color: #444;
}

.container {
    display: grid;
    grid-template-columns: 30px 300px;
    grid-template-rows: 150px 100px 1fr 60px;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "nv nv nv nv nv nv nv nv"
        "at at at at sc sc sc sc"
        "ft ft ft ft ft ft ft ft";
    border: 2px solid orange;

}

header {
    grid-area: hd;
    border: 2px solid green;

}


nav {
    grid-area: nv;
    border: 2px solid white;
}

section {
    grid-area: sc;
    border: 2px solid red;
}

article {
    grid-area: at;
}

footer {
    grid-area: ft;
    border: 2px solid black;
}